<div id="my-subscriptions">
        <div class="item col-1-3">
            <div class="icon">
                <img src="img/no-image.jpg"></img>
            </div>                 
        </div>     
        <div class="item col-1-3">
            <div class="icon">
                <img src="img/no-image.jpg"></img>
            </div>                 
        </div> 
        <div class="item col-1-3">
            <div class="icon">
                <img src="img/no-image.jpg"></img>
            </div>                 
        </div> 
        <div class="item col-1-3">
            <div class="icon">
                <img src="img/no-image.jpg"></img>
            </div>                 
        </div>                                                 
</div>